PORT=3000
MONGODB_URI=mongodb://KULLANICI_ADI:SIFRE@ac-sahnoii-shard-00-00.o6h3hrq.mongodb.net:27017,ac-sahnoii-shard-00-01.o6h3hrq.mongodb.net:27017,ac-sahnoii-shard-00-02.o6h3hrq.mongodb.net:27017/?ssl=true&replicaSet=atlas-yryl5q-shard-0&authSource=admin&appName=TarkanKara251109007
SESSION_SECRET=karapatifitclub_gizli_anahtar_2026